<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.certification.niap.permission.dpctester"
    >
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:testOnly="true"
        android:supportsRtl="true"
        android:name=".DpcApplication"
        android:theme="@style/NoActionBar">

        <activity
            android:name="com.android.certification.niap.permission.dpctester.MainActivity"
            android:exported="true"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/NoActionBar"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.android.certification.niap.permission.dpctester.DetailsActivity"
            android:theme="@style/NoActionBar"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.permission.action.ACTION_VIEW_APP_FEATURES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TestActivity"
            android:theme="@style/NoActionBar"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.permission.action.ACTION_VIEW_APP_FEATURES" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>

    </application>



</manifest>